
@font-face{
 font-family:'digital-clock-font';
 src: url('digital-7.ttf');
}
.App {
  border: 1px solid black;
  width: 20%;
  margin: auto;
  padding: 1em;
  background-color: black;
  border: 6px solid silver;
}
.center {
  text-align: center;
  margin-top: 5em;
}
.time-digits {
  font-family: 'digital-clock-font';
  color: #32CD32;
  font-size: 25px;
}
.start {
  margin-right: .4em;
}
